<form class="siv-form" method="post" action="{% url 'create_message' %}">
    {% csrf_token %}
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">¿Qué pasa?</span>
        </div>
        {{ form.worry_message }}
    </div>
    <div class="row" style="width:100%; align-content: right; margin-right: auto; margin-left: auto">
        {{ form.worry_type }}
        {{ form.worry_category }}
        <button class="btn btn-primary" type="submit" style="margin-right: 0px; margin-left: auto">Compartir</button>
    </div>
</form>
