{% extends 'home/home.html' %}

{% block content_app %}
    <div class="siv-forum-content">
        <div class="card card-body">
            {% include 'forum/worry_message/create.html' with form=form %}
        </div>
        {% if message_mapped %}
            <div class="list-group">
                {% for custom_message in message_mapped %}
                    <a class="list-group-item list-group-item-action flex-column align-items-start" style="background-color: #F7F9F9">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{ custom_message.worry_user.user_name }}</h5>
                            <small>{{ custom_message.worry_message.publish_date }}</small>
                        </div>
                        <p class="mb-1">{{ custom_message.worry_message.worry_message}} <strong> {{ custom_message.worry_message.worry_type.observation }}</strong></p>
                        <small >
                            <div class="row siv-forum-split">
                                <div class="siv-forum-underline"
                                     data-toggle="collapse" href="#collapse{{ forloop.counter }}" role="button" aria-expanded="false" aria-controls="collapse{{ forloop.counter }}"
                                >
                                    Opiniones {{ custom_message.opinion_message_list|length }}
                                </div>
                                <div class="siv-forum-underline" role="button"
                                     onclick="open_modal('{% url 'create_opinion' custom_message.worry_message.id %}',  '#popup')">
                                    Opinar
                                </div>
                            </div>
                        </small>
                    </a>

                    <div class="collapse" id="collapse{{ forloop.counter }}">
                        <div class="card card-body">
                            <div class="card card-body">
                                {% include 'forum/opinion_message/create.html' with worry_message_id=custom_message.worry_message.id opinion_message_form=opinion_message_form %}
                            </div>
                            <div class="list-group">
                                {% for opinion_message in custom_message.opinion_message_list %}
                                    <a class="list-group-item list-group-item-action flex-column align-items-start">
                                        <div class="d-flex w-100 justify-content-between">
                                            <h5 class="mb-1">{{ opinion_message.worry_user.user_name }}</h5>
                                            <small>{{ opinion_message.opinion_message.publish_date }}</small>
                                        </div>
                                        <p class="mb-1">{{ opinion_message.opinion_message.opinion_message }}</p>
                                        <small>
                                            <div class="row siv-forum-split">
                                                <div class="siv-forum-underline">Votar {{ opinion_message.opinion_message.grade_opinion }}</div>
                                            </div>
                                        </small>
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div id="popup"></div>
        {% else %}
            <p>No hay contenido que mostrar</p>
        {% endif %}
    </div>

{% endblock %}


