{% load staticfiles %}
<!-- templates/base.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}Django Auth Tutorial{% endblock %}</title>
    <link href="{% static 'bootstrap4/css/bootstrap.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'jquery-ui-1.12.1/jquery-ui.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'siv/css/start_siv.css' %}" rel="stylesheet"/>
</head>
<body>
{% block content %}
{% endblock %}

<script src="{% static 'jquery/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
<script src="{% static 'bootstrap4/js/bootstrap.min.js' %}"></script>
<script src="{% static 'forum/siv_forum_modal.js' %}"></script>
</body>
</html>