body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
.dropdown-menu {
  min-width: 0px !important;
}

.siv-forum-content {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.siv-small-word {
  font-size: 1px;
}

.siv-forum-underline {
  border-bottom: 1px solid #4e555b;
  min-width: 0px !important;
  margin-left: 1em;
  margin-right: 1em;
}

.siv-forum-split {
  border-top: 1px dotted #6c757d;
  width: 100%;
  padding-bottom: 0.1em;
  margin-right: auto;
  margin-left: auto;
}


.siv-form {
  background-color: white;
}

.siv-form .form-control {
  height: 50px;
  overflow: auto;
}

.ui-widget-overlay.custom-overlay {
  background-color: #000000;
  background-image: none;
  opacity: 0.9;
  z-index: 1040;
}

.no-close .ui-dialog-titlebar-close {
  display: none
}